#header {
    background-color: #ededed;
    display: flex;
    flex-direction: row;
    height: 100px;
    justify-content: space-between;
    margin: 0;
    width: 100%;
    .logo-container {
        align-self: center;
        margin: 0 0 0 20px;
        img {
            height: 52px;
            width: 52px;
        }
    }
    .title-container {
        align-self: center;
        margin: 0;
        h1 {
            color: #777777;
        }
    }
    .user-container {
        align-self: center;
        margin: 0 20px 0 0;
        a {
            color: #6600cc;
            text-decoration: underline;
        }
    }
}